---
import Header from "@/components/Header.astro";

interface Props {
  title: string;
  animeData: Array<object>;
}
const { title, animeData } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/assets/images/logo_afs.png" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>
  <Header animeData={animeData} />
  <body>
    <slot />
  </body>

  <style is:global>
    @import "@/styles/globals.css";
  </style>
</html>
